*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.note{
    background-color: yellow;
    padding:20px;
    text-align: center;
}
.header{
    background-color: rgb(109, 190, 163);
    padding:100px;
}
.header h1,.header h4{
    text-align:center;
    color:white;
}
.nav-bar{
    display:flex;
    background-color: black;
}
.nav-bar a{
    text-decoration: none;
    color:white;
    padding:15px;
}
.nav-bar a:hover{
    background-color: #f1f1f1;
    color:black;
}
@media only screen and (max-width:600px){
   .nav-bar{
    flex-direction: column;
   }

}
.root{
    display:flex;
}
.side{
    background-color:#f1f1f1;
    flex:30%;
    padding:20px;
}
.image{
    width:100px;
    height:100px;
}
.side img{
    width:100%;
    height:auto;
}
