header {
    background-color: lavender;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
    /* justify-content: center; */
}

.container img {
    border-radius: 50%;
    /* Makes the image circular */
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.container h1 {
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
}

section {
    background-color: lavender;
    font-size: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 20px;
    /*center in height */
}

.art {
    background-color: lavender;
    font-size: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding:20px;
}

.art h1 {
    color: brown;
}

.art img {
    height: 400px;
    object-fit: cover;
}