.nav-bar {
    display:flex; /*horizontal layout*/
    position: fixed; 
    top:0px; /*top of page*/
    /* gap:15px; gap between each item in flex */
    /* padding:15px; */
    background-color:black;
    width:100%;
    justify-content: flex-start;
    align-items: center;
    margin:0;
}

a{   
    text-decoration: none; /*removing underline of links*/
    color:white;
    padding:15px 15px;
}

a:hover{
 background-color:grey;
}

body{
    margin:0;
}