section{
    margin-top: 200px;
    background-color: lavender;
    display: flex;
    align-items: center;
    gap:15px;

}

.profile img{
    border-radius:50%;
    width: 700px;
}

.content
{
    font-size:18px;
    padding: 40px 5%;
}

